In [4]:
import BeautifulChart as bc
color_palette = ['#DB6B2E', '#E28958', '#E9A682', '#F1C4AB','#F8E1D5']

bc.Chart().changeColorPalettePrimary(color_palette, showPalette=0)

['#DB6B2E', '#E28958', '#E9A682', '#F1C4AB', '#F8E1D5']

In [8]:
import pandas as pd
df = pd.read_excel('data_stackedBar.xlsx')

     alianca         tribo                     diferencaProposta
0   Camaleão      Spectrum     Diferença de, aproximadamente, 2k
1   Triforce        Sparta     Diferença de, aproximadamente, 3k
2      Rubix  Minecrafters           A pessoa preferiu não falar
3   Triforce    Alexandria     Diferença de, aproximadamente, 3k
4       Nova         Orion     Diferença de, aproximadamente, 3k
..       ...           ...                                   ...
57  Camaleão      Pardalis  Não teve diferença tão significativa
58      Nova         Fênix                Diferença maior que 5k
59    Hakuna       Javalis                         Não se aplica
60   Rackers       Vikings  Não teve diferença tão significativa
61  Camaleão      Kalangus     Diferença de, aproximadamente, 2k

[62 rows x 3 columns]